htlml {                       
    box-sizing: border-box;
}
body {
    background-color: white;
    font-family:arial;
    font-size: 20px; 
    overflow-x: hidden;
    box-sizing: border-box;
}

.cabecalho01{
    width:100%;
    height: 250px;
    background-color:aliceblue;
    margin-top:0;
    display: flex;
    text-align: flex-start;
    flex-direction: column;
}

.Logo{
    position:absolute;
    text-align:left;
    margin-top: 0;
    background-image: url("Imagens/CLogo01-remove.png");
    width: 299px; 
    height: 249px; 
    background-size: cover; 
    background-position: center; 
}

.botoes{
    display:flex;
    justify-content: center;
}


#SobreNos{
    background-image: url("Imagens/10449616.png");
    background-size: cover;
    background-position: center;
    margin:0 15px;
    height: 80px;
    width: 80px;
    border: none;
}

#NovoEvento {
    background-image: url("Imagens/BtnMaisInfo.png");
    background-size: cover;
    background-position: center;
    margin:0 15px;
    height: 80px;
    width: 80px;
    border: none;
}

#Conta {
    background-image: url("Imagens/BtnConta.png");
    background-size: cover;
    background-position: center;
    margin:0 15px;
    height: 80px;
    width: 80px;
    border: none;
}


.texto{
    margin-left:auto;
    width: 500px;
    height:auto;
    position:relative;
}

.texto02{
    position:absolute;
    margin-left:80%;
    margin-top:120px;
    width: 500px;
    height:100px;
}

.texto h1{
    font-family:serif;
    margin-right:10px;
    font-size:60px;
    text-align: right;
    position:relative;
}

.texto02 h3{
    margin-top:10px;
    margin-right:10px;
    text-align:right;
    font-size:20px;
    position:absolute;
}


